node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.eslintrc*
.prettierrc*
jest.config.*
*.test.ts
*.spec.ts
src
terraform
.terraform
*.tfstate
*.tfstate.*
.DS_Store
logs/*.log